:root {
	--bg-color-lite : #FDFBFA;
	--text-color : #293651;
	--text-details-color : #E49F2D;
	--text-h-item : #293640;
	--text-item : #4E575D;
	--text-border-item : #4E575D77;
	--arrow-color : #C0AEA4;
}

@keyframes first-rotate-top {
	from {
		transform: translate(-50%, 0) rotateX(90deg);
	}

	to {
		transform: translate(-50%, 0) rotateX(0deg);
	}
}
@keyframes first-rotate-bottom {
	from {
		transform: translate(-50%, 0) rotateX(-90deg);
	}

	to {
		transform: translate(-50%, 0) rotateX(0deg);
	}
}

.current-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	perspective: 1000px;


	& .top,
	& .bottom {
		position: absolute;
		background-color: var(--bg-color-lite);
		border: 1px solid var(--text-border-item);
		padding: 3px 4px;
		left: 0;
		margin-left: 10px;
		transition: transform .3s;
		transform: translate(-50%, 0) rotateX(0deg);

		& > div {
			margin: 2px;
			padding: 1px 4px;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			margin-left: -10px;
			border: 10px solid transparent;
		}
	}

	& .top {
		bottom: 30px;
		width: 300px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: left;
		transform-origin: bottom;
		animation: first-rotate-top 1s;

		& > div {
			width: 45%;
		}


		&:before {
			top: 100%;
			border-top-color: var(--arrow-color)
		}
	}	

	& .bottom {
		top: 30px;
		width: 150px;
		text-align: center;
		transform-origin: top;
		animation: first-rotate-bottom 1s;

		&:before {
			bottom: 100%;
			border-bottom-color: var(--arrow-color)
		}
	}

	& .name {
		font-size: 16px;
		font-weight: bold;
		color: var(--text-h-item)
	}

	& .f1 {
		color: var(--text-item)
	}

	& .f5 {
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: var(--text-h-item);
	}

	& .f3 {
		font-size: 12px;
		text-align: right;
		color: var(--text-details-color);
	}

	&.move {
		& .top {
			transform: translate(-50%, 0) rotateX(90deg);
		}

		& .bottom {
			transform: translate(-50%, 0) rotateX(-90deg);
		}
	}
}