:root {
	--bg-color : #F3ECE1;
	--bg-color-lite : #FDFBFA;
	--text-color : #293651;
	--text-details-color : #E49F2D;
	--text-h-item : #293640;
	--text-item : #4E575D
}


#root {
	min-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
	width: 100vw;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 14px;
	background-color: var(--bg-color);
	/* cursor: wait; */
}

.no-gutters {
	padding-right: 0 !important;
	padding-left: 0 !important;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance:textfield;
}

.app-core {
	display: flex;
	position: relative;
}

.controll {
	position: absolute;
	top: 2px;
	left: 2px;
	display: flex;
	flex-direction: column;

	& .info {
		margin: 3px;
		padding: 3px;
		text-align: center;
		background-color: #fff5;

		& b {
			margin: 0 5px;

			&:before,
			&:after {
				content: "-";
				margin: 0 1px;
			}
		}
	}

	& .btns {
		display: flex;
		flex-direction: row;


		& input {
			max-width: 100%;
			width: 100px;
		}

		& div {
			width: 30px;
			margin: 2px 4px;
			padding: 2px 4px;
			cursor: pointer;
			box-shadow: 0 0 4px #000;
			text-align: center;
			border-radius: 5px;
		}
	}
}

svg {
	margin: 5px auto;
	box-shadow: 0 0 5px #000;

	& circle {
		cursor: pointer;
		transition: .2s;

		&:hover {
			fill: green;
			stroke: black;
			strokeWidth: 2;
		}
	}
}