:root {
	--bg-color : #F3ECE1;
	--bg-color-lite : #FDFBFA;
	--text-color : #293651;
	--text-details-color : #E49F2D;
	--text-h-item : #293640;
	--text-item : #4E575D
}

#root {
	min-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
	width: 100vw;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 14px;
	background-color: var(--bg-color);
}

.no-gutters {
	padding-right: 0 !important;
	padding-left: 0 !important;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance:textfield;
}

