:root {
	--bg-color : #F3ECE1;
	--bg-color-lite : #FDFBFA;
	--text-color : #293651;
	--text-details-color : #E49F2D;
	--text-h-item : #293640;
	--text-item : #4E575D
}


#root {
	min-height: 100vh;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 14px;
	background-color: var(--bg-color);
	/* cursor: wait; */
}

.no-gutters {
	padding-right: 0 !important;
	padding-left: 0 !important;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance:textfield;
}

.app-core {
	display: flex;
}

.controlls {
	width: 300px;
	min-width: 300px;
	min-height: 100vh;
	box-shadow: 2px 0 5px #6C28C8;
	display: flex;
	flex-direction: column;
	background-color: #fff;

	& .block {
		margin: 4px;
		padding: 1px 4px;
		box-shadow: 0 0 4px #000;
		display: flex;
		font-size: 13px;
		line-height: 13px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #000;

		& .label {
			font-weight: bold;
			font-size: 1.1em;
		}
	}



	& input {
		max-width: 80px;
		line-height: 1em;
		padding: 0 3px;
		font-size: 1em;
		margin: 2px;
	}

	& .list .length {
		padding: 2px 5px;
		margin: 1px 5px;
		background-color: rgba(0,0,0,.1);
		font-size: 0.9em;
		font-weight: bold;
		border-radius: 4px;
		box-shadow: 0 0 4px #000, inset 0 0 3px #fff;
	}

	& .reload {
		font-size: 1.1em;
		justify-content: center;
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
		width: 80%;
		align-self: center;
		box-shadow: 0 1px 5px #000, inset 0 0 3px #fff;
		background-color: rgba(0,0,0,.1);		
		transition: .1s;

		&:hover {
			box-shadow: 0 0px 3px #000, inset 0 -1px 5px #fff;
			background-color: rgba(0,0,0,.4);
		}
	}
}

.work-dir {
	outline: 1px solid orange;
	background-color: #000;
	width: 100%;
}

svg {
	margin: 5px auto;
	box-shadow: 0 0 5px #000;

	& circle {
		cursor: pointer;
		transition: .2s;

		&:hover {
			fill: green;
			stroke: black;
			strokeWidth: 2;
		}
	}
}